[
	{mosaic_cluster, [
		{webmachine_address, none},
		{tests_scenario, normal},
		{tests_nodes, [
			'mosaic-cluster-1@localhost', 'mosaic-cluster-2@localhost',
			'mosaic-cluster-3@localhost', 'mosaic-cluster-4@localhost',
			'mosaic-cluster-5@localhost', 'mosaic-cluster-6@localhost',
			'mosaic-cluster-7@localhost', 'mosaic-cluster-8@localhost']}]},
	
	{riak_core, [
		{cluster_name, "mosaic"},
		{ring_state_dir, "/tmp/mosaic-cluster/ring"},
		{ring_creation_size, 8},
		{gossip_interval, 1000},
		{target_n_val, 1},
		{wants_claim_fun, {riak_core_claim, default_wants_claim}},
		{choose_claim_fun, {riak_core_claim, default_choose_claim}},
		{default_bucket_props, []},
		{vnode_inactivity_timeout, 1000},
		{handoff_concurrency, 8},
		{handoff_port, 31808},
		{handoff_ip, "0.0.0.0"}]},
	
	{kernel, [
		{error_logger, tty}]},
	
	{sasl, [
		{sasl_error_logger, false},
		{errlog_type, error},
		{utc_log, true}]}
].
