[
	{mosaic_node, [
		{webmachine_address, undefined},
		{tests_scenario, undefined},
		{tests_nodes, [
			'mosaic-node@mosaic-1.loopback.vnet', 'mosaic-node@mosaic-2.loopback.vnet',
			'mosaic-node@mosaic-3.loopback.vnet', 'mosaic-node@mosaic-4.loopback.vnet',
			'mosaic-node@mosaic-5.loopback.vnet', 'mosaic-node@mosaic-6.loopback.vnet',
			'mosaic-node@mosaic-7.loopback.vnet', 'mosaic-node@mosaic-8.loopback.vnet']}]},
	
	{riak_core, [
		{cluster_name, "mosaic"},
		{ring_state_dir, "./data/ring"},
		{slide_private_dir, "./data/slide"},
		{ring_creation_size, 32},
		{gossip_interval, 1000},
		{target_n_val, 1},
		{wants_claim_fun, {riak_core_claim, default_wants_claim}},
		{choose_claim_fun, {riak_core_claim, default_choose_claim}},
		{default_bucket_props, []},
		{vnode_inactivity_timeout, 500},
		{handoff_ip, "0.0.0.0"},
		{handoff_port, undefined},
		{handoff_concurrency, 8}]},
	
	{kernel, [
		{error_logger, tty}]},
	
	{sasl, [
		{sasl_error_logger, tty},
		{errlog_type, error},
		{utc_log, true}]}
].
